# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

def_file/*
power_report/*
ir_drop_report/*
ip_report/*
congest_area_file/*
effr_file/*
io/*
resistance_report/*
stripe_tcl/*
tech_lef_file/*
power_pad_tcl/*